[Unit]
Description=Update man-db cache
RequiresMountsFor=/var/cache/man
JobTimeoutSec=15min

[Service]
Type=idle
ExecStart=/usr/sbin/update-man-cache
CPUSchedulingPolicy=batch
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
